@charset "UTF-8";

.primary-background{
	background:#D9D9D9!important;
}

 html{
	scroll-behavior: smooth;
}

.bar-hover:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
  border-radius : 15%;
  border-color: bg-secondary !important; /* Add !important to override Bootstrap styles */
}

.card-hover:hover {
  transform: translateY(-5px);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.9);
  border-color: bg-secondary !important; /* Add !important to override Bootstrap styles */
}
.my-border {
  border: 5px solid #ccc !important;
  border-radius: 5px;
}